@model AppDigitalCv.ViewModels.DireccionVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="bs-container content" style="min-height:960px;">
        <section class="content-header">
            <h1>
                Agregar Direccion
                <small> Agregar la direccion completa </small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"> <i class="fa fa-dashboard"></i> Home </a></li>
                <li> <a href="#"> Tables </a></li>
                <li class="active"> Data tables </li>
            </ol>
        </section>

        <div class="row">

            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">

                <div class="box box-success">
                    <br />
                    <label class="text-green"><i class="text-green fa fa-child"></i> Erik Guerrero Bravo </label>

                    <div role="form">

                        <div class="box-body">
                            <!-- Aqui se llena el dropdownlist de paises y se ponen algunas validaciones -->
                            <div class="form-group">
                                <div class="form-group ">
                                    <label>País</label>
                                    @Html.DropDownList("Pais", null, htmlAttributes: new { @class = "form-control input-sm", id = "Pais" })
                                    @Html.ValidationMessageFor(model => model.IdPais, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <!-- Aqui se llena el dropdownloist de estados y se ponen algunas validaciones -->
                            <div class="form-group">
                                <div class="form-group ">
                                    <label>Estado</label>
                                    @Html.DropDownList("Estados", null, htmlAttributes: new { @class = "form-control input-sm", id = "Estados" })
                                    @Html.ValidationMessageFor(model => model.IdEstado, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <!-- Aqui se llena el dropdownList de municipios y se ponen algunas validaciones -->
                            <div class="form-group">
                                <div class="form-group ">
                                    <label>Municipio</label>
                                    @Html.DropDownList("Municipios", null, htmlAttributes: new { @class = "form-control input-sm", id = "Municipios" })
                                    @Html.ValidationMessageFor(model => model.IdMunicipio, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6 form-group">
                                <div class="form-group ">
                                    <label>Colonia</label>
                                    @Html.DropDownList("Colonias", null, htmlAttributes: new { @class = "form-control input-sm", id = "Colonias" })
                                    @Html.ValidationMessageFor(model => model.IdColonia, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6 form-group">
                                <label for="etCodigoPostal"> Codigo Postal: </label>
                                <br />
                                @Html.TextBoxFor(model => model.ColoniaVM.intCp, new { @class = "form-control input-sm", placeholder = "Codigo Postal", id = "codigoPostal" })
                                @Html.ValidationMessageFor(model => model.ColoniaVM.intCp, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label for="etCalle">Calle:</label>
                                <br />
                                @Html.TextBoxFor(model => model.StrCalle, new { @class = "form-control input-sm", placeholder = "Calle", id = "calle" })
                                @Html.ValidationMessageFor(model => model.StrCalle, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <label for="etNoInterior">No° Interior:</label>
                                    <br />
                                    @Html.TextBoxFor(model => model.StrNumeroInterior, new { @class = "form-control input-sm", placeholder = "Calle", id = "calle" })
                                    @Html.ValidationMessageFor(model => model.StrNumeroInterior, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <label for="etNoExterior">No° Exterior:</label>
                                    <br />
                                    @Html.TextBoxFor(model => model.StrNumeroExterior, new { @class = "form-control input-sm", placeholder = "Calle", id = "calle" })
                                    @Html.ValidationMessageFor(model => model.StrNumeroExterior, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-footer">
            <div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
            <input type="submit" value="Guardar" class="btn btn-success" />
        </div>

    </div>

}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<!-- JS para llenar el dropdowList de estados por medio de la seleccion de un pais -->
<script>
        $(document).ready(function () {

            $("#Pais").change(function () {
                var paisId = $(this).val();
                debugger;
                $.ajax({
                    type: "Post",
                    url: "/Direccion/ConsultarEstadosByPais?idPais=" + paisId,
                    contentType: "html",
                    success: function (response) {
                        $("#Estados").empty();
                        $("#Estados").append(response);
                    },
                    error: function (error) {

                    }
                });
            });

            // -- JS para la consulta de municipios por estado, se llena dropdownlist de municipios
            $("#Estados").change(function () {
                var estadoId = $(this).val();
                debugger;
                $.ajax({
                    type: "Post",
                    url: "/Direccion/ConsultarMunicipiosByEstado?idEstado=" + estadoId,
                    contentType: "html",
                    success: function (response) {
                        $("#Municipios").empty();
                        $("#Municipios").append(response);
                    },
                    error: function (error) {

                    }
                });
            });

            //-- JS para la consulta de colonias por municipio, se llena dropdownlist de colonias
            $("#Municipios").change(function () {
                var municipioId = $(this).val();
                debugger;
                $.ajax({
                    type: "Post",
                    url: "/Direccion/ConsultarColoniasByMunicipio?idMunicipio=" + municipioId,
                    contentType: "html",
                    success: function (response) {
                        $("#Colonias").empty();
                        $("#Colonias").append(response);
                    },
                    error: function (error) {

                    }
                });
            });

            // -- JS para la consulta de codigo postal por medio de una colonia
            $("#Colonias").change(function () {
                var coloniaId = $(this).val();
                debugger;
                $.ajax({
                    type: "Post",
                    url: "/Direccion/ConsultarCodigoPostalByColonia?idColonia=" + coloniaId,
                    contentType: "json",
                    success: function (response) {

                        $("#codigoPostal").prop('disabled', true);
                        $("#codigoPostal").css("border-bottom-color", "#00A65A");
                        $("#codigoPostal").val(response);

                    },
                    error: function (error) {

                    }
                });
            });

        });



</script>