@model AppDigitalCv.ViewModels.DocumentoPersonalVM

@{
    ViewBag.Title = "Agregar Documentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AgregarDocumentos", "Documentos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="bs-container content" style="min-height: 960px;">
        <section class="content-header">
            <h1>
                Agregar Documentos Oficiales
                <small>RFC, Curp</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Inicio</a></li>
                <li><a href="#">Agregar</a></li>
                <li class="active">Documentos Oficiales</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <div class="box  box-success">
                        <div class="box-header">
                            <div class="form-inline">
                                <div class="form-group">
                                    <label class="text-blue"><i class="text-blue fa fa-heartbeat"></i> Erik Guerrero Bravo</label>
                                </div>
                            </div>
                        </div>
                        <div role="form">
                            <div class="box-body">
                                <div class="form-inline">
                                    <div class="form-group"> 
                                        <label for="curpInputFile">Cargar Archivo del Rfc:</label>
                                        @Html.TextBoxFor(model => model.ArchivoRfc, new { @class = "btn btn-file btn-facebook", @type = "file",id="IdRfc" , accept = "application/pdf",required= "required" })
                                        @Html.ValidationMessageFor(model => model.ArchivoRfc, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label for="curpInputFile">Cargar Archivo del Curp:</label>
                                        @Html.TextBoxFor(model => model.ArchivoCurp, new { @class = "btn btn-file btn-facebook", @type = "file", id = "IdCurp", accept = "application/pdf", required = "required" })
                                        @Html.ValidationMessageFor(model => model.ArchivoCurp, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <hr />
                                <div class="form-inline">
                                    <div class="form-group">
                                        <input id="btnEnviar" type="submit" disabled="disabled" value="Guardar" class="btn btn-sm btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

}
@section scripts
{
    <script>
        $(document).ready(function () {

           
            $("#IdCurp").change(function () {
                $("#btnEnviar").prop("disabled", this.files.length == 0);
            });
            $("#IdRfc").change(function () {
                $("#btnEnviar").prop("disabled", this.files.length == 0);
            });
        });
    </script>
}

